---
import type { InferEntrySchema } from "astro:content"

type Props = {
  id: string
  handle: string
  data: InferEntrySchema<"contests">
}

const {
  id,
  handle,
  data: { date, top },
} = Astro.props
const [year, month, tag] = id.split("-", 3)
const [first, second, third] = top
const isFirst = first.handle === handle
const isSecond = second.handle === handle
const isThird = third.handle === handle

const TAG_DISPLAY_NAME = new Map([
  ["open", "Open Contest"],
  ["onsite", "Onsite"],
])
const tagDisplayName = TAG_DISPLAY_NAME.get(tag)
---

<article
  class="rounded-lg b b-solid b-light-8 shadow-md flex flex-col overflow-hidden dark:b-dark-3"
>
  <div class="flex flex-row justify-between p-4">
    <div class="flex flex-col items-center self-start">
      <span class="text-xl font-bold tabular-nums">{month}</span>
      <span class="tabular-nums">{year}</span>
    </div>
    <span class="text-dark-1 dark:text-light-9"
      >{date}{tagDisplayName && ` (${tagDisplayName})`}</span
    >
  </div>
  <ol class="grid grid-cols-2 items-end">
    {isFirst && (
      <li
        class="text-xl flex flex-row justify-between p-4 items-end b-b b-solid b-light-8 pt-0 grid-col-span-2 dark:b-dark-3"
      >
        <span class="font-bold text-amber-5">1위</span>
        <span class="font-bold text-3xl italic">{first.handle}</span>
      </li>
    )}
    {isSecond && (
      <li
        class="text-xl flex flex-row justify-between p-4 items-end b-b b-solid b-light-8 pt-0 grid-col-span-2 dark:b-dark-3"
      >
        <span class="font-bold text-bluegray-6">2위</span>
        <span class="font-bold text-3xl italic">{handle}</span>
      </li>
    )}
    {isThird && (
      <li
        class="text-xl flex flex-row justify-between p-4 items-end b-b b-solid b-light-8 pt-0 grid-col-span-2 dark:b-dark-3"
      >
        <span class="font-bold text-amber-7">3위</span>
        <span class="font-bold text-3xl italic">{handle}</span>
      </li>
    )}
  </ol>
</article>
