---
import type { Contest } from "~/lib/getContests"
import { getTagValue } from "~/lib/getTagValue"
import { getTop } from "~/lib/getTop"
import UserRef from "./UserRef.astro"

type Props = {
  id: string
  contest: Contest
}

const { id, contest } = Astro.props
const slug = id.replace("-", "/").replace("-", "/")
const [year, month, tag] = id.split("-", 3)
const [first, second, third] = getTop(contest)

const tagValue = getTagValue(tag)
---

<article
  class="rounded-lg b b-solid b-light-8 shadow-md flex flex-col overflow-hidden dark:b-dark-3 hover"
>
  <a href={`/contest/${slug}`}>
    <div class="flex flex-row justify-between p-4">
      <div class="flex flex-col items-center self-start">
        <span class="text-xl font-bold tabular-nums">{month}</span>
        <span class="tabular-nums">{year}</span>
      </div>
      <span class="text-dark-1 dark:text-light-9">
        {contest.date}{tagValue && ` (${tagValue})`}
      </span>
    </div>
  </a>
  <ol class="grid grid-cols-2 items-end">
    <li
      class="text-xl flex flex-row justify-between p-4 items-end b-b b-solid b-light-8 pt-0 grid-col-span-2 dark:b-dark-3"
    >
      <span class={`font-bold text-amber-5 rank-1`}>1위</span>
      <span class="font-bold text-4xl italic hover">
        <UserRef handle={first.name} />
      </span>
    </li>
    <li
      class="text-lg flex flex-row justify-between p-4 items-end b-r b-solid b-light-8 dark:b-dark-3"
    >
      <span class={`font-bold text-bluegray-6 dark:text-muted rank-2`}>2위</span
      >
      <span class="hover">
        <UserRef handle={second.name} />
      </span>
    </li>
    <li class="text-lg flex flex-row justify-between p-4 items-end">
      <span class={`font-bold text-amber-7 rank-3`}>3위</span>
      <span class="hover">
        <UserRef handle={third.name} />
      </span>
    </li>
  </ol>
</article>
