---
import Layout from '~/components/Layout.astro'
import ContestantItem from '~/components/ContestantItem.astro'
import { getSortedContests } from "~/lib/getSortedContests"

export async function getStaticPaths() {
  const contests = await getSortedContests()
  const handles = new Set(
    contests.flatMap((contest) => contest.data.top.map((entry) => entry.handle))
  )
  return Array.from(handles).map((handle) => ({
    params: { handle },
  }))
}

const { handle } = Astro.params
const contests = await getSortedContests()
const userContests = contests.filter(contest => contest.data.top.some(entry => entry.handle === handle))

if (userContests.length === 0) {
  throw new Error(`No contests found for handle: ${handle}`)
}
---

<Layout title="월간 향유회">
  <span slot="header-title">{handle}의 contest 기록</span>
  {userContests.map(({ id, data }) => (
    <ContestantItem id={id} handle={handle} data={data} />
  ))}
</Layout>
